table.shop_table_responsive {

	thead {
		display: none;
	}

	tbody {

		th {
			display: none;
		}
	}

	tr {

		td {
			display: block;
			clear: both;

			&::before {
				content: attr(data-title) ": ";
				float: left;
			}

			&.product-remove {

				a {
					text-align: left;
				}

				&::before {
					display: none;
				}
			}

			&.actions,
			&.download-actions {

				&::before {
					display: none;
				}
			}

			&.download-actions {

				.button {
					display: block;
					text-align: center;
				}
			}
		}
	}
}
