// Home page styles

.home.page-template-default.page.page-id-20 .site .banner {
    width: 100%;
    margin: 0 auto;
  }

.home-intro-text p, .page-description p {
    font-size: 18px;
}

.video-container { 
	position: relative; 
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: 550px;
    background-color: $dark_blue;
} 

video { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    opacity: 0.75;
    height: 550px;
    object-fit: cover;
}

.banner.home {
    background-color: transparent;
    height: 550px;
}

.home-intro-text, .page-description{
    text-align: center;
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.book-now-but a {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 228px;
    text-align: center;
    font-size: 2rem;
    z-index: 99;
    color: black;
    background-color:$yellow ;
    text-decoration: none;
    padding: 7px 60px;
    transition: all .3s ease-in-out; 

    &:hover, &:focus {
        transition: all .3s ease-in-out; 
        font-size: 2.2em;
        width: 248px;
    }
}

.book-now-button{
    margin: 0;
    font-family: $heading_font;
}

.tours-preview{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    p{
        color: black;
        line-height: 1;
    }
    a{
        text-decoration: none;
        color: white;
    }
}

.tour-details-button p{
    color: white;
}

.single-tour-preview{
    border-radius: 15px 15px 15px 15px;
    background-color: $color__background-pre;
    box-shadow: 1px 2px 5px #cccccc;
    margin: 0 auto;
    max-width: 600px;
    transition: 0.5s ease;

    &:hover, &:focus {
        transition: all .3s ease-in-out; 
        transform: scale(1.005);
        .tour-more-info-button p {
            background-color: $yellow;
        } 
        p.tour-details-button {
            color: black;
        }
    }
}

.single-tour-preview{
    position: relative;
    margin-bottom: 20px;
}

.z-single-tour-img{
    background-color: $dark_blue;
    border-bottom: 2px solid $yellow;
    border-radius: 15px 15px 0 0;
}

.z-single-tour-img img{
    opacity: 0.75;
    display: block;
    border-radius: 15px 15px 0 0;
}

.z-single-tour-title{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    width: 60%;
    text-align: center;
}

.tours-overlay{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    z-index: 20000;
}

.single-tour-detailed-info{
    padding-left: 10%;
}

.tour-more-info-button p {
    color: white;
    text-align: center;
    background-color: $dark_blue;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: $heading_font;
    font-size: 22px;
    margin-bottom: 0;
    border-radius: 0 0 15px 15px;
    transition: 0.5s ease;
}

.home.page-template-default.page.page-id-20 footer {
    margin-top: 30px;
}

@media (min-width: 500px) {
    .z-single-tour-title{
        top: 20%;  
    }
}

@media(min-width: 600px) {
    .z-single-tour-title{
        font-size: 45px;
    }
}

@media (min-width: 720px) {

    .video-container { 
        padding-bottom: 0;
        height: 700px;
        margin: 0 auto;
    } 
    
    video { 
        height: 700px;
        object-fit: cover;
    }

    .home-intro-text {
        margin: 140px auto 0 auto;
    }

    .page-id-20 {
        .banner h1 {
            top: 55%
        }
        .book-now-but a {
            top: 85%;
        }
    }
}

@media(min-width: 780px) {

    .single-tour-preview{
        max-width: 700px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .tours-preview {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 950px;
        margin: 0 auto;
    }
}

@media(min-width:850px){

    .z-single-tour-title {
        font-size: 35px;
        top: 18%;
        width: 100%;
        text-align: center;
    }

    .single-tour-preview{
        width: 44%;
    }

    .single-tour-preview{
        margin-bottom: 40px;
    }
}

@media(min-width:1000px){
    
    .z-single-tour-title{
        min-width:160px ;
        text-align: center;
    }

    .home.page-template-default.page.page-id-20 footer {
        margin-top: 60px;
    }
}

@media(min-width: 1500px) {
    .home-intro-text, .page-description {
        padding: 65px 0 65px 0;
    }

    .single-tour-preview {
        max-width: 350px;
    }

    .tours-preview {
        justify-content: center;
        max-width: 1500px;
        padding: 0;
    }
}