// Home page styles


.video-container { 
	position: relative; 
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: 400px;
    background-color: $dark_blue;
} 


video { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    opacity: 0.75;
    height: 400px;
    object-fit: cover;
}

.banner.home {
    background-color: transparent;
}


.home-intro-text, .page-description{
    text-align: center;
    margin: 12% 15px;
}

.book-now-but a{
    
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 80%;
    text-align: center;
    font-size: 2rem;
    z-index: 99;
    color: black;
    background-color:$yellow ;
    text-decoration: none;
    width: fit-content;
    height: fit-content; 
    padding: 7px 60px;

}
.book-now-button{
    margin: 0;
    font-family: $heading_font;
}

.tours-preview{
    margin: 0 15px;
    p{
        color: black;
        line-height: 1;
    }
    a{
        text-decoration: none;
        color: white;
    }
}
.tour-details-button p{
    color: white;
}

.single-tour-preview{
    border-radius: 15px 15px 15px 15px;
    background-color: $color__background-pre;
    box-shadow: 1px 2px 5px #cccccc;
}

.single-tour-preview{
    position: relative;
    margin-bottom: 20px;
}

.z-single-tour-img{
    background-color: $dark_blue;
    border-bottom: 2px solid $yellow;
    border-radius: 15px 15px 0 0;
}

.z-single-tour-img img{
    opacity: 0.75;
    display: block;
    border-radius: 15px 15px 0 0;
}

.z-sigle-tour-title{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
@media(min-width:1000px){
    
    .z-sigle-tour-title{
        min-width:160px ;
        text-align: center;
    }

    
}


.tours-overlay{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    z-index: 20000;
}
.single-tour-detailed-info{
    padding-left: 10%;
}
.tour-more-info-button p {
    color: white;
    text-align: center;
    background-color: $dark_blue;
    padding-top: 10px;
    padding-bottom: 10px;
    // font-weight: bolder;
    font-family: $heading_font;
    font-size: 22px;
    margin-bottom: 0;
    border-radius: 0 0 15px 15px;
}
@media(min-width:600px){

    .home-intro-text , .page-description{
        margin: 5% 10% 3%;
    }


    .tours-preview{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }


    .single-tour-preview{
        width: 44%;
    }

    .single-tour-preview{

        margin-bottom: 40px;
    }

}

@media (min-width: 720px) {

    .video-container { 
        padding-bottom: 0;
        height: 500px;
        margin: 0 auto;
    } 
    
    video { 
        height: 500px;
        object-fit: cover;
    }

}

@media(min-width:1000px){
    

    .tours-preview{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        margin: 5%;
    }


    .single-tour-preview{
        width: 22%;
    }

    .single-tour-preview{

        margin-bottom: 40px;
    }

}

