.scroll-top {
	background: $light_blue;
	border: none;
	padding: 1rem;
	position: fixed;
	bottom: 1%;
	right: 1%;
	cursor: pointer;
	transition: all ease 0.3s;
    opacity: 0;
	border-radius: 15px;
	
    svg path {
       fill: $dark_blue;
    }
}

.scroll-top:focus {
    outline: none;
    box-shadow: 0 0 1px 1px $yellow;
}

.scroll-top svg {
	transform: rotate(270deg);
}