abbr[title] {
    text-decoration: none;
}

#post-122 {
    max-width: 600px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

#post-122 h1.entry-title {
    color: $dark_blue;
}

#post-122 h3 {
    color: $dark_blue;
    font-size: 20px;
    text-align: left;
}

.woocommerce-billing-fields {

    input {
        border-radius: 0;
        width: 100%;
        margin-top: 5px;
        padding: 7px;
    }

    input[type="text"] {
        font-family: $body_font;
    }

    input:focus {
        outline-color: $dark_blue;
    }

}

.woocommerce-info {
    font-family: $body_font;

    a {
        text-decoration: none;
        font-weight: 700;
        color: $dark_blue;
    }
}

.select2-selection.select2-selection--single {
    border-radius: 0;
    border-color: #ccc;
    height: 40px;

    &:focus {
        outline-color: $dark_blue;
    }
}

#select2-billing_country-container {
    padding: 7px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: $dark_blue;
}

.select2-container--default .select2-results__option[data-selected=true] {
    outline-color: $dark_blue;
}

.shop_table.woocommerce-checkout-review-order-table th {
    text-align: left;
    font-family: $body_font;
}

.wc_payment_methods.payment_methods.methods {
    margin: 0;
    padding: 0;
}

#payment li {
    list-style: none;
}

#wc-stripe-cc-form {
    margin-left: 0;
    padding: 15px;
}

#place_order {
    text-decoration: none;
    color: black;
    font-family: $heading_font;
    font-size: 25px;
    background-color: $yellow;
    display: block;
    padding: 10px;
    width: 100%;
    max-width: 800px;
    margin: auto;
    border: none;

    &:active {
        outline: none;
    }
}

.woocommerce-privacy-policy-text a {
    text-decoration: none;
    color: $dark_blue;
    font-weight: 700;
}

.checkout.woocommerce-checkout input, .checkout.woocommerce-checkout textarea {
    font-family: $body_font;
}

@media (min-width: 1000px) {
    #post-122 h1 {
        margin-top: 50px;
    }
}

