// Contact page styles

.acf-map {
    width: 100%;
    height: 400px;
    border: #ccc solid 1px;
	margin: 20px 0;
	display: block;
}

.contact-banner {
	position: relative;
	top: 0; 
	left: 0;
	width: 150%;
	margin-left: -25%;
}

.page-header h1.page-title {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 3em;
}

.company-title {
	text-transform: uppercase;
}

.contact-title a {
	color: $dark_blue;
	text-decoration: none;
	font-weight: 700;
	font-family: $heading_font;
	letter-spacing: 4px;
	font-size: 1.6em;
}

.contact-book-online-title svg {
    color: $dark_blue;
}

@media (min-width: 500px) {

	.contact-info-section-one {
		display: flex;
		justify-content: center;
		margin-right: 20px;
		margin-left: 20px;
	}

	.contact-book-online, .contact-faq {
		width: 40%;
	}
	
	.contact-book-online {
		margin-right: 30px;
	}

}