// Contact page styles

.contact-main-content {
	padding-left: 30px;
	padding-right: 30px;
}

.site-main.contact h2 a:hover, .site-main.contact p a:hover {
	color: $yellow;
}

.contact-social a svg path:hover {
    fill: $yellow;
}

.acf-map {
	width: 100vw;
    height: 400px;
    border: #ccc solid 1px;
	margin: 20px 0 40px -30px;
	display: block;
}

.company-title {
	text-transform: uppercase;
	margin-top: 5px;
	margin-bottom: 2px;
}

.contact-book-online {
	margin-top: 40px;
}

.contact-faq {
	margin-top: 40px;
}

.address {
	margin-top: 2px;
	margin-bottom: 0;
}

.contact-email-title, .contact-phone-title, .contact-social {
	margin-top: 40px;
}

.contact-social svg {
	margin-right: 5px;
}

.site-main.contact h2 {
	margin-bottom: 0;
}

.site-main.contact h2 a {
	color: $dark_blue;
	text-decoration: none;
	font-weight: 700;
	font-family: $heading_font;
	letter-spacing: 4px;
	font-size: 25px;
}

.site-main.contact h2 {
	color: $dark_blue;
}

.site-main.contact svg path {
    fill: $dark_blue;
}

.contact-info-section-one p, .contact-info-section-two p {
	margin-top: 5px;
}

.site-main.contact .entry-content {
	margin-top: 30px;
}

.office-address {
	margin-top: 40px;
}

.office-location {
	color: $dark_blue;
	margin-top: 0;
	max-width: 250px;
}

.segment-street_name::after, .segment-state::after {
	content:"\a";
    white-space: pre;
}

.segment-city::after {
	content: ',';
}

input::placeholder, textarea::placeholder {
	font-family: $body_font;
}

div.wpforms-container-full .wpforms-form button[type=submit] {
	background-color: $dark_blue;
	color: white;
	font-family: $heading_font;
	border: none;
	width: 150px;
	padding-top: 15px;
	font-size: 18px;

	&:hover {
		background-color: $yellow;
		border: none;
	}
}

div.wpforms-container-full .wpforms-form .wpforms-field {
	padding-bottom: 0;
}

div.wpforms-container-full .wpforms-form input[type=text], div.wpforms-container-full .wpforms-form textarea {
	border-radius: 0;
}

.contact-titles {
	display: flex;
}

.contact-titles h2 {
	margin-top: 0;
	margin-left: 10px;
}

div.wpforms-field-row.wpforms-field-medium {
	overflow-x: hidden;
}

.contact-email-title p a, .contact-phone-title p a {
	text-decoration: none;
	color: #404040;
}

div.wpforms-container-full .wpforms-form .wpforms-one-half {
	margin-left: 10px;
}

.contact-social {
	margin-bottom: 40px;
}

@media (min-width: 400px) {

	div.wpforms-container-full .wpforms-form .wpforms-one-half {
		width: 48.5%;
	}
}

@media (min-width: 500px) {

	.contact-book-online, .contact-faq, .office-address, .contact-email-title, .contact-phone-title, .contact-social {
		margin-top: 30px;
	}

	.contact-info-section-one, .contact-info-section-two {
		display: flex;
		justify-content: center;
	}

	.contact-book-online, .contact-faq, .contact-email, .contact-phone {
		width: 50%;
	}
	
	.contact-book-online {
		margin-right: 40px;
	}

}

@media (min-width: 550px) {

	div.wpforms-container-full .wpforms-form .wpforms-one-half {
		width: 49%;
	}
}

@media (min-width: 600px) {

	.office-location {
		max-width: 100%;
	}

	div.wpforms-container-full .wpforms-form input.wpforms-field-medium, div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
		max-width: 100%;
	}
}

@media (min-width: 750px) {

	.acf-map {
		width: 100%;
		margin-left: 0;
	}

}

@media (min-width: 800px) {

	.contact-main-content {
		max-width: 1000px;
		margin: 0 auto;
	}

}