.error-404.not-found {
    padding-left: 30px;
    padding-right: 30px;
    height: 100vh;
    margin: 0 auto;
    header {
        margin-top: 102px;
    }
}

.error-404.not-found p {
    margin-bottom: 5px;
}

.error-404.not-found a {
    text-decoration: none;
    color: $dark_blue;
    font-weight: 700;
}

@media (min-width: 450px) {
    .error-404.not-found {
        max-width: 430px;
    }
}

@media (min-width: 800px) {
    .error-404.not-found {
        max-width: 720px;
    }
}

@media (min-width: 1000px) {
    .error-404.not-found header {
            margin-top: 142px;
    }
}