.site-footer {
	background-color: $dark_blue;
	color: #fff;
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
}

.footer-menus {
	display: inline-block;
    justify-content: space-between;
    width: 100%;
}

.site-info {
    display: inline-block;
    justify-content: space-between;
    width: 100%;
}

.footer-navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.trip-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
        p {
            margin: 0;
        }
}

.trip-info ul {
    list-style: none;
}

.trip-after {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        p {
            margin: 0;
        }
}

.trip-after a {
    text-decoration: none;
    color: white;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        p{
            margin: 0;
        }
}



.menu-footer-menu-container a {
    text-decoration: none;
    color: white;
}

.menu-social-menu-container ul {
    list-style: none;

}

ul.menu {
    margin: 0;
    padding: 0;
}

.scroll-top {
    background: transparent;
	border: none;
	padding: 1rem;
	position: fixed;
	bottom: 0;
	right: 0;
	cursor: pointer;
	transition: all ease 0.3s;
	opacity: 0;
	
}