.staff-about p {
	font-size: 16px;
	margin: 0 auto;
	text-align: center;
	max-width: 700px;
	padding: 20px 20px 10px;
}

.staff-card{
	background-color: $light_blue;
	border: 2px solid $yellow;
	margin: 25px auto;
	text-align: center;
	max-width: 500px;
}

.staff-card p, h3, img{
	text-align: center;
	
}


.staff-card img {
	padding: 20px 30px 5px;
}




@media only screen and (min-width: 650px) {
.staff-about p {
	font-size: 22px;
	}
}



p.field-label {
	text-transform: uppercase;

}

.field-label p {
	margin: 0;
}

p.staff-position {
	margin: 0 ;
}

h3.staff-name {
	margin-bottom: 0;
}

.staff-name {
	letter-spacing: 1px;
	font-weight: 300;
}

