.page-template-default.page.page-id-37 h2 {
	color: $dark_blue;
	margin: 0 auto;
	font-size: 25px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
}

.staff-about p {
	font-size: 18px;
	margin: 0 auto;
	text-align: center;
	max-width: 800px;
	padding: 60px 20px;
}

.staff-card{
	background-color: $light_blue;
	border: 2px solid $yellow;
	margin: 25px auto;
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
}

.staff-card-group {
	margin: 0 auto;
}

.staff-card p {
	margin-bottom: 0;
}

.staff-employee, .staff-hometown, .staff-bio {
	margin-top: 0;
}

.staff-card p, h3, img{
	text-align: center;
}

.staff-card img {
	padding: 30px 30px 5px;
}

.staff-bio {
	padding: 0 30px 30px 30px;
}

@media only screen and (min-width: 650px) {

	p.field-label {
		text-transform: uppercase;
	}

	.field-label p {
		margin: 0;
	}

	p.staff-position {
		margin: 0 ;
	}

	h3.staff-name {
		margin-bottom: 0;
	}

	.staff-name {
		letter-spacing: 1px;
		font-weight: 300;
	}

}

@media (min-width: 1000px) {
	.page-template-default.page.page-id-37 .slick-track {
		height: 500px;
	}

	.staff-card-group {
		display: flex;
		margin-bottom: 30px;
		justify-content: center;
		margin-top: 20px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.staff-card {
		max-width: 250px;
		margin: 0;
		margin-right: 15px;
	}

	.staff-card-group:last-child {
		margin-right: 0;
	}
}

@media (min-width: 1200px) {

	.staff-card {
		max-width: 400px;
	}

	.page-template-default.page.page-id-37 h2 {
		max-width: 1300px;
	}
}


